@model IEnumerable<AnimalShopProject.Models.Animal>
@{
    ViewBag.Title = "MainPage1";
}
<link rel="stylesheet" href="~/Styles/CSStyle.css" />
<h1>@await Html.PartialAsync("_MyPartialView") </h1>
<h3>The 2 most highly rated pets today are</h3>
<table class="table">
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Decription</th>
        <th>Number of comments</th>
    </tr>
    @foreach (var pet in Model)
    {
        <tr>
            <td><img src="~/@pet.Picture.ImagePath" width="150" height="150" /></td>
            <td>@pet.Name</td>
            <td>@pet.Description</td>
            <td>@pet.Comments.Count()</td>
        </tr>
    }
</table>

@section SideBar {
    <br />
    <br />
    <br />
    <div>
        @await Html.PartialAsync("_ButtonsPartial")
    </div>
}
